---
export const prerender = false;
const { slug } = Astro.params;
---
<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=/${slug}/settings`} />
  </head>
  <body>
    <script>window.location.replace(`/${location.pathname.split('/')[1]}/settings`)</script>
    <noscript>
      <a href={`/${slug}/settings`}>Go to Settings</a>
    </noscript>
  </body>
</html>

